body {
  background-color: honeydew;
}

.container {
  text-align: center;
}

.cur-state-info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board-ui {
  margin-top: 20px;
}

.board-ui-table {
  margin-left:auto;
  margin-right:auto;
}

.history-select {
  margin-top: 15px;
}

.history-select-btn {
  margin-right: 3px;
}

.restart-btn {
  margin-top: 5px;
}


.ttt-slot {
  border: 1px solid black;
  background-color: white;
  
  user-select: none;
  display: inline;
  overflow: hidden;

  font-size: 40px;

  width: 30px;
  height: 30px;
}

.ttt-slot:hover {
  background-color: yellow;
}



.ttt-row {
  margin: 0px;
  display: block;
  overflow: hidden;
  margin-top: -8px;
}